#aboutCompanyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

#aboutCompany {
  width: 80%;
  text-align: center;
  line-height: 1.8;
}

#aboutCompany h1,
#aboutCompany h3 {
  font-family: "Poppins", sans-serif;
}

#aboutCompany h1 {
  font-weight: 500;
}

#aboutCompany h3 {
  font-weight: 400;
}

#aboutCompany ul > li {
  text-align: left;
}

/* RESPONSIVITY */

@media (width <= 2561px) {
  #aboutCompany {
    font-size: 24px;
  }
}

@media (width <= 1920px) {
  #aboutCompanyWrapper {
    height: auto;
  }
  #aboutCompany {
    font-size: 16px;
  }
}

@media (width <= 1440px) {
  #aboutCompany {
    font-size: 16px;
  }
}

@media (width <= 768px) {
  #aboutCompany {
    font-size: 12px;
  }
}

@media (width <= 426px) {
  #aboutCompanyWrapper {
    height: auto;
    margin-top: -20px;
    margin-bottom: 20px;
  }

  #aboutCompany h1 {
    font-size: 20px;
  }

  #aboutCompany h3 {
    font-size: 14px;
    text-align: left;
  }
}
