#aboutCompanyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

#aboutCompany {
  width: 80%;
  text-align: center;
  font-size: 14px;
  line-height: 1.8;
}

@media (width <= 426px) {
  #aboutCompanyWrapper {
    height: 120vh;
  }
}
