.aboutBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#landingPage h1 {
  text-align: center;
  color: #fff;
}

#cards h1 {
  text-align: center;
  color: #fff;
}
