#order {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--grey);
  font-size: 24px;
  text-align: center;
}

#orderWrapper {
  width: 85%;
  min-height: 85vh;
  background: white;
  border-radius: 20px;
  box-shadow: 11px 11px 35px 0px #7e86a4a8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.orderPhoto {
  transform: scale(0.5);
  overflow: hidden;
}

.orderText,
.nowText {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 24px;
  color: var(--black);
  overflow: hidden;
  transition: 1s;
}

.orderText {
  animation: textAnimationUp 1.5s infinite;
}

.nowText {
  animation: textAnimationDown 1.5s infinite;
  animation-delay: 0.5s;
}

@keyframes textAnimationUp {
  from {
    text-shadow: 0 0 var(--lightgreen), 0 1.2em #000;
  }
  to {
    text-shadow: 0 -1.2em var(--lightgreen), 0 0 #000;
  }
}

@keyframes textAnimationDown {
  from {
    text-shadow: 0 -1.2em var(--lightgreen), 0 0 #000;
  }
  to {
    text-shadow: 0 0 var(--lightgreen), 0 1.2em #000;
  }
}
