@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  width: 100%;
  background: var(--black);
}

footer > div:nth-child(1) {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
  color: #fff;
}

footer > div:nth-child(1) > h1 {
  margin: 0;
  font-weight: 200;
  opacity: 0.7;
}

/* SOCIAL ICONS */

#footerSocialMedia {
  transition: 5s all;
}

#footerSocialMedia.is-open {
  display: flex;
  background-color: #fff;
}

.footerCard a {
  width: 100%;
  animation: 1.2s alternate ease-in-out fade;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footerCard {
  width: fit-content;
  height: fit-content;
  display: flex;
  padding: 25px 25px;
  gap: 30px;
}

.footerSocialContainer {
  width: 30px;
  height: 25px;
  border-radius: 10px;
  transform: scale(1.4);
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.6s;
}

.socialSvg {
  padding: 10px;
  width: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerSocialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* CREATED BY */

#createdBy {
  background: var(--black);
  color: #fff;
  text-align: center;
  border-top: 1px solid gray;
  padding: 15px;
}

#createdBy h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 200;
  opacity: 0.7;
}

#createdBy a {
  color: green;
  margin-left: 3px;
}

/* Resposivity */

@media (width <= 2561px) {
  footer {
    padding-top: 20px;
  }

  footer > div:nth-child(1) {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }

  footer > div:nth-child(2) {
    transform: scale(1.7);
  }

  #createdBy {
    font-size: 24px;
    padding-top: 60px;
    margin-top: -4px;
    border: none;
  }

  #createdBy h1,
  #createdBy span {
    font-size: 24px;
    margin-top: -4px;
  }
}

@media (width <= 1920px) {
  footer {
    padding: 0;
  }
  footer > div:nth-child(1) {
    font-size: 8px;
  }

  footer > div:nth-child(2) {
    transform: scale(0.9);
  }

  #createdBy {
    margin-top: -4px;
    padding: 10px;
  }

  #createdBy h1,
  #createdBy span {
    font-size: 12px;
  }
}

@media (width <= 1440px) {
  footer > div:nth-child(1) {
    font-size: 14px;
    margin-top: 15px;
  }

  footer > div:nth-child(2) {
    transform: scale(1.2);
  }

  #createdBy {
    font-size: 40px;
    margin-top: -4px;
    padding-top: 20px;
  }

  #createdBy h1,
  #createdBy span {
    font-size: 16px;
  }
}

@media (width <= 1024px) {
  footer {
    padding-top: 0;
  }
  footer > div:nth-child(1) {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }

  footer > div:nth-child(2) {
    transform: scale(1.2);
  }

  #createdBy {
    font-size: 18px;
    margin-top: -40px;
    font-size: 24px;
    padding-top: 50px;
  }
}

@media (width <= 768px) {
  footer > div:nth-child(1) {
    font-size: 8px;
    text-align: center;
  }

  footer > div:nth-child(2) {
    transform: scale(0.8);
  }

  #createdBy {
    font-size: 14px;
    padding-top: 30px;
  }

  #createdBy h1,
  #createdBy span {
    font-size: 12px;
  }
}

@media (width <= 685px) {
  footer > div:nth-child(1) {
    order: 2;
    font-size: 10px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }

  footer > div:nth-child(2) {
    order: 1;
    transform: scale(0.8);
  }

  #createdBy {
    font-size: 12px;
    padding-top: 80px;
    border: none;
  }
}

@media (width <= 431px) {
  footer > div:nth-child(1) {
    font-size: 7px;
    margin-top: 4px;
  }

  #createdBy {
    font-size: 12px;
    margin-top: -10px;
    padding-top: 30px;
  }
}

@media (width <= 320px) {
  footer {
    width: 100%;
  }
  footer > div:nth-child(1) {
    font-size: 8px;
  }

  #createdBy {
    font-size: 12px;
    padding-top: 40px;
  }
}
