nav {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.38px;
}

.logoTitle::after {
  content: "iRONMARK.";
  font-size: 20px;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
  color: var(--black);
}

.header__logo {
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 900px;
}

.header__menuLinks {
  float: left;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

a:link {
  text-decoration: none;
}

#header a {
  display: block;
  padding: 8px;
  color: var(--black);
  transition: all 1s;
}

#header a:hover {
  color: var(--lightgreen);
}

#header ul > li > a {
  text-decoration: none;
  font-size: 20px;
  outline: none;
  letter-spacing: 2px;
  font-family: "Work Sans", Arial, sans-serif;
}

.header__menuItems-trigger {
  display: none;
}

#header > ul > li {
  list-style-type: none;
}

#header.is-open {
  background-color: #fff;
}

#header.is-closed {
  transition: all 2s;
}

/* SOCIAL MEDIA */

.socialMedia {
  display: none;
  transition: 5s all;
}

#socialMedia.is-open {
  display: flex;
  background-color: #fff;
}

.card a {
  width: 100%;
  animation: 1.2s alternate ease-in-out fade;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  padding: 25px 25px;
  gap: 30px;
}

.socialContainer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: scale(1.4);
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram */
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter */
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* linkdin */
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* whatsapp */
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.6s;
}

.socialSvg {
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* RESPONSIVITY */

@media (width = 2560px) {
  #header ul > li > a {
    font-size: 32px;
  }
  .logoTitle::after {
    font-size: 32px;
  }
  .header__logo {
    margin-bottom: 10px;
    gap: 1600px;
  }
}

@media (width <= 1440px) {
  #header ul > li > a {
    font-size: 24px;
  }
  .logoTitle::after {
    font-size: 24px;
  }
  .header__logo {
    gap: 800px;
  }
}

@media (width <= 1264px) {
  .header__logo {
    gap: 600px;
  }
}

@media (width <= 1064px) {
  .header__logo {
    gap: 550px;
  }
}

@media (width <= 1024px) {
  #header ul > li > a {
    font-size: 18px;
  }
  .logoTitle::after {
    font-size: 18px;
  }
  .header__logo {
    gap: 500px;
  }
}

@media (width <= 930px) {
  .header__logo {
    gap: 300px;
  }
}

@media (width <= 768px) {
  #header ul > li > a {
    font-size: 18px;
  }
  .logoTitle::after {
    font-size: 18px;
  }
  .header__logo {
    gap: 200px;
  }
}

@media (width <= 630px) {
  .header__logo {
    gap: 0px;
  }
}

.hamburgerIcon {
  animation: fadeIn 2s both;
}

.closeIcon {
  display: none;
  visibility: hidden;
}

.closeIcon.is-open {
  animation: goVisible 2s both;
}

@keyframes goVisible {
  from {
    visibility: hidden;
    margin-top: -200px;
  }
  to {
    visibility: visible;
    margin-top: 0;
  }
}

.hamburgerIcon:checked {
  animation: fadeOut 1s both;
}

.closeIcon.is-open:checked {
  animation: fadeOut 1s both;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header__menuItems {
  transition: all 2s;
}

.header__menuItems.is-open > li > a:nth-child(1) {
  animation: 0.5s alternate ease-in-out dropdown;
}

.header__menuItems.is-open > li > a:nth-child(2) {
  animation: 0.8s alternate ease-in-out dropdown;
}

.header__menuItems.is-open > li > a:nth-child(3) {
  animation: 1s alternate ease-in-out dropdown;
}

@keyframes dropdown {
  from {
    margin-top: -100px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@media (width <= 426px) {
  .header__menuItems {
    display: none;
    text-align: center;
  }

  .header__logo {
    text-align: center;
    padding: 0;
  }

  .header__menuItems.is-open {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin-top: -10px;
    background: #fff;
  }

  .header__menuItems-trigger {
    display: block;
    color: #000;
    position: absolute;
    left: 5%;
    margin-bottom: -20px;
  }

  #header a {
    display: block;
    width: 100%;
  }

  .logo {
    transform: scale(0.6);
  }

  .closeIcon {
    display: none;
  }

  .closeIcon.is-open {
    display: block;
    margin-bottom: 150px;
    transform: scale(0.8);
  }

  .hamburgerIcon.is-open {
    display: none;
  }

  #socialMedia {
    background: #fff;
    border-radius: 20px;
    justify-content: center;
    margin-right: 0;
    padding: 0;
    margin-top: -30px;
    transform: scale(0.7);
  }
}
